<div class="password-strength-meter" *ngIf="password">
        <div class="strength-meter">
        <div class="meter">
            <div class="meter-bar" [ngClass]="getColorClass()" [style.width.%]="(strength / 5) * 100"></div>
        </div>
        <div class="strength-text" [ngClass]="getColorClass()">
            <span>{{ feedback }}</span>
        </div>
        </div>
        
        <div class="password-requirements">
        <p>Your password should:</p>
        <ul>
            <li [ngClass]="{ 'met': isLengthMet() }">Be at least 8 characters long</li>
            <li [ngClass]="{ 'met': hasUppercase() }">Include uppercase letters</li>
            <li [ngClass]="{ 'met': hasLowercase() }">Include lowercase letters</li>
            <li [ngClass]="{ 'met': hasNumber() }">Include numbers</li>
            <li [ngClass]="{ 'met': hasSpecialCharacter() }">Include special characters</li>
        </ul>
    </div>
</div>